:root {
  --color-primary: #b2ca01;
  --color-secundary: #05418b;
  --color-third: #009bd8;
}

.bg-gradient-primary {
  background-image: linear-gradient(310deg, var(--color-third), var(--color-third));
}

.page-header-bg {
  background-image: none;
}

.input-group.input-group-outline.is-focused .form-label + .form-control,
.input-group.input-group-outline.is-filled .form-label + .form-control {
  border-color: var(--color-primary) !important;
  border-top-color: transparent !important;
  box-shadow: inset 1px 0 var(--color-primary), inset -1px 0 var(--color-primary), inset 0 -1px var(--color-primary);
}

.input-group.input-group-outline.is-focused .form-label,
.input-group.input-group-outline.is-filled .form-label {
  width: 100%;
  height: 100%;
  font-size: 0.6875rem !important;
  color: var(--color-primary);
  display: flex;
  line-height: 1.25 !important;
}

.input-group.input-group-outline.is-focused .form-label:before,
.input-group.input-group-outline.is-focused .form-label:after,
.input-group.input-group-outline.is-filled .form-label:before,
.input-group.input-group-outline.is-filled .form-label:after {
  border-top-color: var(--color-primary);
  box-shadow: inset 0 1px var(--color-primary);
}

.input-group.input-group-outline.is-focused .form-label:before,
.input-group.input-group-outline.is-focused .form-label:after,
.input-group.input-group-outline.is-filled .form-label:before,
.input-group.input-group-outline.is-filled .form-label:after {
  border-top-color: var(--color-primary);
  box-shadow: inset 0 1px var(--color-primary);
}

.shadow-primary {
  box-shadow: 0 4px 20px 0 rgba(179, 195, 196, 0.14), 0 7px 10px -5px rgba(30, 216, 233, 0.4) !important;
}

.btn-primary,
.btn.bg-gradient-primary {
  box-shadow: 0 3px 3px 0 rgba(30, 209, 233, 0.15), 0 3px 1px -2px rgba(30, 233, 189, 0.2), 0 1px 5px 0 rgba(30, 233, 220, 0.15);
}

.btn-primary:hover,
.btn.bg-gradient-primary:hover {
  background-color: var(--color-secundary);
  border-color: var(--color-secundary);
  box-shadow: 0 14px 26px -12px rgba(30, 213, 233, 0.4), 0 4px 23px 0 rgba(30, 111, 233, 0.15), 0 8px 10px -5px rgba(30, 61, 233, 0.2);
}

.navbar-vertical.navbar-expand-xs .navbar-collapse {
  height: calc(100vh - 50px);
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.form-check:not(.form-switch) .form-check-input[type=checkbox]:checked {
  background: var(--color-primary);
}

.form-check:not(.form-switch) .form-check-input[type=checkbox]:checked,
.form-check:not(.form-switch) .form-check-input[type=radio]:checked {
  border-color: var(--color-primary);
}

.bg-primaryy {
  background-color: var(--color-primary) !important;
  color: white !important;
}

.form-floating > label {
  position: absolute;
  top: 0;
  left: 1rem !important;
  height: 100%;
  padding: 1rem 0;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}
